.env
.claude/
doc.md


# data
data/raw/
data/processed/*.db
data/geoip/*.mmdb

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# temp
.cache/

# tools
.mypy_cache/
.ruff_cache/
.pytest_cache/
